alembic==1.8.0
amcatclient==3.4.13
aniso8601==9.0.1
blueprint==3.4.2
certifi==2021.5.30
charset-normalizer==2.0.0
click==8.0.4
click-conf==0.0.1
click-stream==0.0.10
elasticsearch==7.13.3
elasticsearch-loader==0.6.0
Flask==2.0.1
Flask-Cors==3.0.10
Flask-JWT==0.3.2
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.2
importlib-metadata==4.11.4
importlib-resources==5.7.1
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.2.0
MarkupSafe==2.0.1
numpy==1.22.2
peewee==3.14.4
pyaml==21.10.1
PyJWT==1.4.2
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.37
urllib3==1.26.6
Werkzeug==2.0.1
zipp==3.8.0
